
-- Hapus constraint material_id agar bisa global (opsional, tapi lebih baik buat tabel baru untuk bersihnya)
CREATE TABLE global_quiz_questions (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    question_text TEXT NOT NULL,
    option_a VARCHAR(255) NOT NULL,
    option_b VARCHAR(255) NOT NULL,
    option_c VARCHAR(255) NOT NULL,
    option_d VARCHAR(255) NOT NULL,
    correct_option CHAR(1) NOT NULL CHECK (correct_option IN ('A', 'B', 'C', 'D')),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE \
global_quiz_questions\ DISABLE ROW LEVEL SECURITY;

-- Untuk student_results, kita biarkan material_id NULLABLE (sudah nullable di REFERENCES jika tidak specified NOT NULL)
-- Kita pastikan material_id di student_results di-update/handle di code.

